---
layout: null
title: J.A. Dahlke - Home
description: 
    priority: 1.0
    lastmod: 2020-02-26
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
	Industrial and Organizational Psychology Professional
-->
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						
						<h1>{{site.title}}</h1>
						
						<h2>Applying Social Science in Organizations</h2>
						
						<p> </p>
						
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://www.researchgate.net/profile/Jeffrey_Dahlke" class="ai ai-researchgate-square" rel="nofollow"><span class="label"></span></a></li>
              <li><a href="https://scholar.google.com/citations?user=9myyxFoAAAAJ&hl=en" class="ai ai-google-scholar-square" rel="nofollow"><span class="label"></span></a></li>
              <li><a href="https://orcid.org/0000-0003-1024-4562" class="ai ai-orcid-square" rel="nofollow"><span class="label"></span></a></li>
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
	      <!-- <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li> -->
              <!-- <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li> -->
              
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Welcome!</a></h2>
									<p></p>
								</header>

<p>I'm a Research Scientist for the <a href="https://www.humrro.org/corpsite/">Human Resources Research Organization (HumRRO)</a> in Alexandria, VA. I earned my Ph.D. in <a href="http://www.siop.org/">industrial and organizational (I-O) psychology</a> from the <a href="https://cla.umn.edu/psychology/graduate/areas-specialization/industrialorganizational-psychology-io">University of Minnesota, Twin Cities</a>, my M.A. in I-O psychology from <a href="http://sbs.mnsu.edu/iopsych/">Minnesota State University, Mankato</a>, and my B.A. in psychology and music from <a href="https://www.snc.edu/">St. Norbert College</a>.</p>

<!-- <span class="image fit"><img src="{{ "/images/dahlke.jpg" | absolute_url }}" alt="" /></span> -->
<img src = "{{ "/images/dahlke-small.jpg" | absolute_url }}" align = "right" hspace="20" style="PADDING-LEFT: 20px; PADDING-RIGHT: 20px;"/>
								
<p>My research interests include issues of fairness and bias in personnel selection (e.g., adverse impact, differential validity, and predictive bias), individual growth in abilities and performance over time, and occupational health. To learn more about my research, please visit my profiles on <a href=" https://scholar.google.com/citations?user=9myyxFoAAAAJ&hl=en">Google Scholar</a> and <a href=" https://www.researchgate.net/profile/Jeffrey_Dahlke">ResearchGate</a>. </p>
								
<p>In addition to my work on substantive psychological topics, I conduct research on quantitative methodologies in psychology and I develop open-source statistical programs for use in the social sciences. I’m the creator and lead developer of the <code>psychmeta</code> package for R, which is the first open-source and comprehensive implementation of the Hunter-Schmidt method of psychometric meta-analysis. The package is freely available for download from <a href="https://cran.r-project.org/package=psychmeta">CRAN</a> or my <a href="https://github.com/jadahlke/psychmeta">GitHub</a> account. Visit <a href="https://psychmeta.com">psychmeta.com</a> for more information on <code>psychmeta</code>. </p>
								
								
							</article>

						<!-- Footer -->
			<!-- 				<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Blog</a></li>
                </ul>
							</footer> -->

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
